:root{
  --boxSize: 262px;
  --menuSize:25px;
}

*{
  user-select: none;
}
body{
  background-color: #93d2bb;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.header{
  background-color: #93d2bb;
  height: max-content;
  font-family: Mukta;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.header>h1:first-child{
  font-size: 2.5em;
  margin: 3px 0px;
  margin: auto 0px auto 0px;
}
.option{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: border 3s ease;
  position: relative;
  font-size: 16px;
}
.options{
  margin: auto 0;
  flex-wrap: none;
}
.option::after{
  content: '';
  width: 0%;
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  background-color: black;
  transition: all 1s ease;
}
.option:hover::after{
  width: 100%;
}
.section{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin-left: 5px;
  overflow: hidden;
  /* gap: 10px; */
}
.notes{
  overflow-y: scroll;
  display: flex;
  height: 570px;
  flex-direction: row;
  flex-wrap:wrap;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}
.note{
  margin:21px 0px 0px 21px;
  border: 1px dashed black;
  width: var(--boxSize);
  height: max-content;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  border-radius:15px;
  transition: all .3s ease-in-out;
}
.title{
  margin:21px 0px 0px 21px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.1px solid black;
  border-radius: 2px;
  width: 202px;
  outline: none;
}
.note>textarea{
  margin:21px 0px 0px 21px;
  resize: none;
  width: 202px;
  height: 135px;
  outline: none;
  border: 0.1px solid black;
  border-radius: 6px;
}
.menus{
  width: 202px;
  height: 30px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: default;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.menus:has(div:hover) div:hover {
  cursor: pointer;
}
.menus *{
  width: var(--menuSize);
  cursor: pointer;
  height: var(--menuSize);
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.save{
  background-image: url('./Icons/save.png');
}
.info{
  background-image: url('./Icons/information.png');
}
.delete{
  background-image: url('./Icons/delete.png');
}
.plus{
  margin:21px 0px 0px 21px;
  border: 1px dashed black;
  width: var(--boxSize);
  height: var(--boxSize);
  background-image: url('./Icons/add.png');
  background-position: center;
  background-size: cover;
  cursor: pointer;
  border-radius: 15px;
  transition: all .3s ease-in-out;
}
.plus:hover{
  transform: scale(1.09);
}

.gap{
  position: relative;
  z-index: -10;
  background: transparent;
  height: 10px;
  bottom: 0;
  width: 1447px;
}
.console{
  margin: inset 0.5px;
  width: max-content;
  height: 10px;
  margin-left: 10px;
  margin-top: 6px;
  color: black;
  font-size: small;
  font-weight: bold;
}
.console>img{
  width: 15px;
  height: 15px;
  position: relative;
  top: 0;
  bottom: 0;
}