*{
  user-select: none;
}
body{
  background-color: #93d2bb;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.header{
  background-color: #93d2bb;
  height: max-content;
  font-family: Mukta;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.header>h1:first-child{
  font-size: 3em;
  margin: 3px 0px 0px 15px;
}

.options{
  margin: auto 0px auto 0px;
}
.option{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: border 3s ease;
  position: relative;
  font-size: 16px;
}
.option::after{
  content: '';
  width: 0%;
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  background-color: black;
  transition: all 1s ease;
}
.option:hover::after{
  width: 100%;
}

.notes{
  background-color: white;
  width: 1449px;
  height: 570px;
  box-shadow: inset .1px .1px .2px black, 5px 5px 10px black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
  border-radius: 10px;
  overflow-y: scroll;
}
.notes *{
  margin:25px 0px 0px 25px
}
.note{
  border: 1px dashed black;
  width: 220px;
  height: 220px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  border-radius:15px;
  transition: all .3s ease-in-out;
}
.note>input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.1px solid black;
  border-radius: 2px;
  outline: none;
}
.note>textarea{
  resize: none;
  height: 120px;
  outline: none;
  border: 0.1px solid black;
  border-radius: 2px;
}
.note:hover{
  transform: scale(1.09);
}
.plus{
  border: 1px dashed black;
  width: 220px;
  height: 220px;
  background-image: url('add.png');
  background-position: center;
  background-size: cover;
  cursor: pointer;
  border-radius: 15px;
  transition: all .3s ease-in-out;
}
.plus:hover{
  transform: scale(1.09);
}